In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from pandas.plotting import scatter_matrix
from sklearn.linear_model import LogisticRegression
import sklearn.linear_model as lm
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
df.corr()['Survived'].sort_values(ascending = False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [7]:
df.Survived.value_counts() ##Base Model is 549/(549 + 342) = .616

0    549
1    342
Name: Survived, dtype: int64

In [8]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [43]:
df.Ticket.value_counts()

347082              7
1601                7
CA. 2343            7
347088              6
CA 2144             6
3101295             6
S.O.C. 14879        5
382652              5
113781              4
LINE                4
4133                4
W./C. 6608          4
113760              4
PC 17757            4
17421               4
349909              4
347077              4
2666                4
19950               4
363291              3
PC 17582            3
29106               3
PC 17755            3
248727              3
110413              3
230080              3
13502               3
PC 17760            3
347742              3
PC 17572            3
                   ..
349205              1
349240              1
STON/O2. 3101283    1
693                 1
PC 17482            1
113051              1
113796              1
323592              1
2669                1
F.C.C. 13528        1
350029              1
112059              1
A./5. 3235          1
19988               1
345770              1
27849               1
7267                1
349217              1
3101276             1
349246              1
PC 17474            1
6563                1
347060              1
65303               1
3460                1
367232              1
350025              1
17463               1
349249              1
342826              1
Name: Ticket, Length: 681, dtype: int64

In [12]:
pd.get_dummies(df[['Embarked', 'Sex']])

     Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male
0             0           0           1           0         1
1             1           0           0           1         0
2             0           0           1           1         0
3             0           0           1           1         0
4             0           0           1           0         1
5             0           1           0           0         1
6             0           0           1           0         1
7             0           0           1           0         1
8             0           0           1           1         0
9             1           0           0           1         0
10            0           0           1           1         0
11            0           0           1           1         0
12            0           0           1           0         1
13            0           0           1           0         1
14            0           0           1           1         0
15            0           0           1           1         0
16            0           1           0           0         1
17            0           0           1           0         1
18            0           0           1           1         0
19            1           0           0           1         0
20            0           0           1           0         1
21            0           0           1           0         1
22            0           1           0           1         0
23            0           0           1           0         1
24            0           0           1           1         0
25            0           0           1           1         0
26            1           0           0           0         1
27            0           0           1           0         1
28            0           1           0           1         0
29            0           0           1           0         1
..          ...         ...         ...         ...       ...
861           0           0           1           0         1
862           0           0           1           1         0
863           0           0           1           1         0
864           0           0           1           0         1
865           0           0           1           1         0
866           1           0           0           1         0
867           0           0           1           0         1
868           0           0           1           0         1
869           0           0           1           0         1
870           0           0           1           0         1
871           0           0           1           1         0
872           0           0           1           0         1
873           0           0           1           0         1
874           1           0           0           1         0
875           1           0           0           1         0
876           0           0           1           0         1
877           0           0           1           0         1
878           0           0           1           0         1
879           1           0           0           1         0
880           0           0           1           1         0
881           0           0           1           0         1
882           0           0           1           1         0
883           0           0           1           0         1
884           0           0           1           0         1
885           0           1           0           1         0
886           0           0           1           0         1
887           0           0           1           1         0
888           0           0           1           1         0
889           1           0           0           0         1
890           0           1           0           0         1

[891 rows x 5 columns]

In [15]:
df['Name'][0].split()

['Braund,', 'Mr.', 'Owen', 'Harris']

In [20]:
titles = []
for i in range(len(df['Name'])):
    nl = df['Name'][i].split()
    if 'Mr.' in nl:
        titles.append('Mr.')
    elif 'Miss.' in nl:
        titles.append('Miss.')
    else:
        titles.append('Master.')

In [22]:
df['title'] = titles

In [24]:
dummies = pd.get_dummies(df[['Embarked', 'Sex', 'title']]) ##all categorical variables that could matter in some capacity

In [68]:
full = pd.concat([df, dummies], axis = 1)

In [69]:
full.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,title,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,title_Master.,title_Miss.,title_Mr.
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,Mr.,0,0,1,0,1,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,Master.,1,0,0,1,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,Miss.,0,0,1,1,0,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,Master.,0,0,1,1,0,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,Mr.,0,0,1,0,1,0,0,1

In [70]:
full.corr()['Survived'].sort_values(ascending = False)

Survived         1.000000
Sex_female       0.543351
title_Master.    0.338476
title_Miss.      0.327093
Fare             0.257307
Embarked_C       0.168240
Parch            0.081629
Embarked_Q       0.003650
PassengerId     -0.005007
SibSp           -0.035322
Age             -0.077221
Embarked_S      -0.155660
Pclass          -0.338481
Sex_male        -0.543351
title_Mr.       -0.549199
Name: Survived, dtype: float64

In [71]:
full.info() #looks like age is missing values
age_median = full.Age.median()
full['Age'] = full.Age.fillna(age_median)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
PassengerId      891 non-null int64
Survived         891 non-null int64
Pclass           891 non-null int64
Name             891 non-null object
Sex              891 non-null object
Age              714 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Ticket           891 non-null object
Fare             891 non-null float64
Cabin            204 non-null object
Embarked         889 non-null object
title            891 non-null object
Embarked_C       891 non-null uint8
Embarked_Q       891 non-null uint8
Embarked_S       891 non-null uint8
Sex_female       891 non-null uint8
Sex_male         891 non-null uint8
title_Master.    891 non-null uint8
title_Miss.      891 non-null uint8
title_Mr.        891 non-null uint8
dtypes: float64(2), int64(5), object(6), uint8(8)
memory usage: 97.5+ KB

In [102]:
X = full.drop(columns = ['Survived','Sex_male', 'PassengerId', 'title_Mr.', 'Embarked_C', 'Sex', 'title', 'Cabin', 'Name', 'Embarked', 'Ticket'])
#Remove response variable, the string categorical variables, and one of the dummy categories classified from the initial string
X

,Pclass,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Sex_female,title_Master.,title_Miss.
0,3,22.0,1,0,7.2500,0,1,0,0,0
1,1,38.0,1,0,71.2833,0,0,1,1,0
2,3,26.0,0,0,7.9250,0,1,1,0,1
3,1,35.0,1,0,53.1000,0,1,1,1,0
4,3,35.0,0,0,8.0500,0,1,0,0,0
5,3,28.0,0,0,8.4583,1,0,0,0,0
6,1,54.0,0,0,51.8625,0,1,0,0,0
7,3,2.0,3,1,21.0750,0,1,0,1,0
8,3,27.0,0,2,11.1333,0,1,1,1,0
9,2,14.0,1,0,30.0708,0,0,1,1,0
10,3,4.0,1,1,16.7000,0,1,1,0,1
11,1,58.0,0,0,26.5500,0,1,1,0,1
12,3,20.0,0,0,8.0500,0,1,0,0,0
13,3,39.0,1,5,31.2750,0,1,0,0,0
14,3,14.0,0,0,7.8542,0,1,1,0,1
15,2,55.0,0,0,16.0000,0,1,1,1,0
16,3,2.0,4,1,29.1250,1,0,0,1,0
17,2,28.0,0,0,13.0000,0,1,0,0,0
18,3,31.0,1,0,18.0000,0,1,1,1,0
19,3,28.0,0,0,7.2250,0,0,1,1,0
20,2,35.0,0,0,26.0000,0,1,0,0,0
21,2,34.0,0,0,13.0000,0,1,0,0,0
22,3,15.0,0,0,8.0292,1,0,1,0,1
23,1,28.0,0,0,35.5000,0,1,0,0,0
24,3,8.0,3,1,21.0750,0,1,1,0,1
25,3,38.0,1,5,31.3875,0,1,1,1,0
26,3,28.0,0,0,7.2250,0,0,0,0,0
27,1,19.0,3,2,263.0000,0,1,0,0,0
28,3,28.0,0,0,7.8792,1,0,1,0,1
29,3,28.0,0,0,7.8958,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
861,2,21.0,1,0,11.5000,0,1,0,0,0
862,1,48.0,0,0,25.9292,0,1,1,1,0
863,3,28.0,8,2,69.5500,0,1,1,0,1
864,2,24.0,0,0,13.0000,0,1,0,0,0
865,2,42.0,0,0,13.0000,0,1,1,1,0
866,2,27.0,1,0,13.8583,0,0,1,0,1
867,1,31.0,0,0,50.4958,0,1,0,0,0
868,3,28.0,0,0,9.5000,0,1,0,0,0
869,3,4.0,1,1,11.1333,0,1,0,1,0
870,3,26.0,0,0,7.8958,0,1,0,0,0
871,1,47.0,1,1,52.5542,0,1,1,1,0
872,1,33.0,0,0,5.0000,0,1,0,0,0
873,3,47.0,0,0,9.0000,0,1,0,0,0
874,2,28.0,1,0,24.0000,0,0,1,1,0
875,3,15.0,0,0,7.2250,0,0,1,0,1
876,3,20.0,0,0,9.8458,0,1,0,0,0
877,3,19.0,0,0,7.8958,0,1,0,0,0
878,3,28.0,0,0,7.8958,0,1,0,0,0
879,1,56.0,0,1,83.1583,0,0,1,1,0
880,2,25.0,0,1,26.0000,0,1,1,1,0
881,3,33.0,0,0,7.8958,0,1,0,0,0
882,3,22.0,0,0,10.5167,0,1,1,0,1
883,2,28.0,0,0,10.5000,0,1,0,0,0
884,3,25.0,0,0,7.0500,0,1,0,0,0
885,3,39.0,0,5,29.1250,1,0,1,1,0
886,2,27.0,0,0,13.0000,0,1,0,1,0
887,1,19.0,0,0,30.0000,0,1,1,0,1
888,3,28.0,1,2,23.4500,0,1,1,0,1
889,1,26.0,0,0,30.0000,0,0,0,0,0
890,3,32.0,0,0,7.7500,1,0,0,0,0

In [103]:
y = full.Survived
type(y)

pandas.core.series.Series

In [104]:
X.head()
X.shape

(891, 10)

In [105]:
X.info() #looks like some age are missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Pclass           891 non-null int64
Age              891 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Fare             891 non-null float64
Embarked_Q       891 non-null uint8
Embarked_S       891 non-null uint8
Sex_female       891 non-null uint8
title_Master.    891 non-null uint8
title_Miss.      891 non-null uint8
dtypes: float64(2), int64(3), uint8(5)
memory usage: 39.2 KB

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [107]:
full.corr()['Survived']

PassengerId     -0.005007
Survived         1.000000
Pclass          -0.338481
Age             -0.064910
SibSp           -0.035322
Parch            0.081629
Fare             0.257307
Embarked_C       0.168240
Embarked_Q       0.003650
Embarked_S      -0.155660
Sex_female       0.543351
Sex_male        -0.543351
title_Master.    0.338476
title_Miss.      0.327093
title_Mr.       -0.549199
Name: Survived, dtype: float64

In [134]:
model = lm.LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [140]:
X_test

,Pclass,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Sex_female,title_Master.,title_Miss.
709,3,28.0,1,1,15.2458,0,0,0,1,0
439,2,31.0,0,0,10.5000,0,1,0,0,0
840,3,20.0,0,0,7.9250,0,1,0,0,0
720,2,6.0,0,1,33.0000,0,1,1,0,1
39,3,14.0,1,0,11.2417,0,0,1,0,1
290,1,26.0,0,0,78.8500,0,1,1,0,1
300,3,28.0,0,0,7.7500,1,0,1,0,1
333,3,16.0,2,0,18.0000,0,1,0,0,0
208,3,16.0,0,0,7.7500,1,0,1,0,1
136,1,19.0,0,2,26.2833,0,1,1,0,1
137,1,37.0,1,0,53.1000,0,1,0,0,0
696,3,44.0,0,0,8.0500,0,1,0,0,0
485,3,28.0,3,1,25.4667,0,1,1,0,1
244,3,30.0,0,0,7.2250,0,0,0,0,0
344,2,36.0,0,0,13.0000,0,1,0,0,0
853,1,16.0,0,1,39.4000,0,1,1,0,1
621,1,42.0,1,0,52.5542,0,1,0,0,0
653,3,28.0,0,0,7.8292,1,0,1,0,1
886,2,27.0,0,0,13.0000,0,1,0,1,0
110,1,47.0,0,0,52.0000,0,1,0,0,0
294,3,24.0,0,0,7.8958,0,1,0,0,0
447,1,34.0,0,0,26.5500,0,1,0,0,0
192,3,19.0,1,0,7.8542,0,1,1,0,1
682,3,20.0,0,0,9.2250,0,1,0,0,0
538,3,28.0,0,0,14.5000,0,1,0,0,0
819,3,10.0,3,2,27.9000,0,1,0,1,0
30,1,40.0,0,0,27.7208,0,0,0,1,0
673,2,31.0,0,0,13.0000,0,1,0,0,0
63,3,4.0,3,2,27.9000,0,1,0,1,0
396,3,31.0,0,0,7.8542,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
456,1,65.0,0,0,26.5500,0,1,0,0,0
500,3,17.0,0,0,8.6625,0,1,0,0,0
430,1,28.0,0,0,26.5500,0,1,0,0,0
445,1,4.0,0,2,81.8583,0,1,0,1,0
650,3,28.0,0,0,7.8958,0,1,0,0,0
172,3,1.0,1,1,11.1333,0,1,1,0,1
450,2,36.0,1,2,27.7500,0,1,0,0,0
314,2,43.0,1,1,26.2500,0,1,0,0,0
332,1,38.0,0,1,153.4625,0,1,0,0,0
801,2,31.0,1,1,26.2500,0,1,1,1,0
90,3,29.0,0,0,8.0500,0,1,0,0,0
834,3,18.0,0,0,8.3000,0,1,0,0,0
181,2,28.0,0,0,15.0500,0,0,0,0,0
581,1,39.0,1,1,110.8833,0,0,1,1,0
795,2,39.0,0,0,13.0000,0,1,0,0,0
69,3,26.0,2,0,8.6625,0,1,0,0,0
131,3,20.0,0,0,7.0500,0,1,0,0,0
334,1,28.0,1,0,133.6500,0,1,1,1,0
597,3,49.0,0,0,0.0000,0,1,0,0,0
135,2,23.0,0,0,15.0458,0,0,0,0,0
164,3,1.0,4,1,39.6875,0,1,0,1,0
28,3,28.0,0,0,7.8792,1,0,1,0,1
783,3,28.0,1,2,23.4500,0,1,0,0,0
193,2,3.0,1,1,26.0000,0,1,0,1,0
869,3,4.0,1,1,11.1333,0,1,0,1,0
715,3,19.0,0,0,7.6500,0,1,0,0,0
525,3,40.5,0,0,7.7500,1,0,0,0,0
381,3,1.0,0,2,15.7417,0,0,1,0,1
140,3,28.0,0,2,15.2458,0,0,1,1,0
173,3,21.0,0,0,7.9250,0,1,0,0,0

In [135]:
model.predict(X_test)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0], dtype=int64)

In [136]:
model.score(X_test, y_test) ## does about 20% better than base model performance of 61.6%

0.8101694915254237

In [137]:
model.coef_

array([[-0.68818243, -0.02576249, -0.36500498, -0.27925771,  0.00578152,
        -0.144344  , -0.54206936,  1.77298728,  1.71801348,  0.60544203]])

In [138]:
model.intercept_

array([1.11797972])

AttributeError: 'LogisticRegression' object has no attribute 'summary'